<h2><%= @cat.name %></h2>

<div class="single-cat-wrapper">

	<div class="cat-picture" style="background: url('<%= @cat.picture.url %>') no-repeat center center;"></div>
	
	<div class="single-cat-info">
		<p><b>Gender:</b> 
			<% if @cat.male %>
				<i class="fa fa-mars" aria-hidden="true"></i>
			<% else  %>
				<i class="fa fa-venus" aria-hidden="true"></i>
			<% end  %>
		</p>
	  <p>
			<b>Birthday:</b>
			<% if @cat.birthdate.present? %>
				<%= @cat.birthdate.strftime("%B %d, %Y") %>
			<% else %>
			  Unknown
			<% end %>
		</p>
		<p><b>Description:</b> <%= @cat.description %></p>
	</div>

</div>
<br>

<%= link_to "Book", new_cat_reservation_path(@cat), class: "btn btn-primary btn-lg" %>
